@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/* Font Families */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* Color Variables */
:root {
  --color-primary-medium: #0b5de2;
  --color-primary-light: #4a9bf7;
  --color-primary-dark: #041e7c;
  --color-white: #fff;
  --font-dark: #131516;
  --font-light: #f2f3f4;
  --bottom-margin: 20px;
  --default-border-radius: 5px;
  --default-box-shadow: 1px 2px 15px 2px rgba(8, 8, 8, 0.5);
  --text-small: 14px;
}

/* Global Styles and Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: var(--color-white);
}

/* Grid and Layout */
section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 20px 0px;
}

.subcontainer {
  grid-column: 2 / 8;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: var(--bottom-margin);
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 22px;
}

button {
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--color-primary-dark);
}

/* Inputs */
input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: var(--default-border-radius);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}

.outer-container {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(350px, 1366px) minmax(0px, 1fr);
}

.inner-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-shadow: var(--default-box-shadow);
  position: relative;
}

/* Navigation */
.toolbar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

#hamburger-wrapper {
  background-color: var(--color-primary-medium);
  display: inline-block;
  border-radius: 50%;
  margin: 20px;
  position: relative;
  padding: 15px;
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 0;
  right: 0;
}

.circle {
  width: 25px;
  height: 25px;
  position: relative;
}

.line {
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
}

.top {
  top: 17%;
}

.middle {
  top: 48%;
}

.bottom {
  top: 78%;
}

.hamburger-button.hamburger-closed .top {
  transform: rotate(45deg);
  top: 48%;
}

.hamburger-button.hamburger-closed .middle,
.hamburger-button.hamburger-closed .bottom {
  transform: rotate(-45deg);
  top: 48%;
}

/* Nav Overlay */
nav a {
  color: #fff;
}

.nav-overlay {
  position: absolute;
  width: 100%;
  height: 0;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  transition: all 0.2s;
  z-index: 50;
  opacity: 0;
}

.nav-open {
  height: auto;
  opacity: 0.9;
}

/* Introduction */
#introduction {
  grid-column: 2 / 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0px;
}

#introduction > img {
  margin-top: 80px;
}

#introduction h1 {
  font-size: 45px;
  letter-spacing: 4px;
}

#introduction h4 {
  font-size: 25px;
}

#introduction img {
  width: 100%;
}

/* Meet */
#meet {
  background-color: var(--color-primary-medium);
  color: var(--font-light);
}

#meet h2 {
  text-align: center;
}

/* Skills */
#skills {
  background: linear-gradient(
    180deg,
    var(--color-primary-medium) 50%,
    var(--color-white) 50%
  );
}

#skills > .subcontainer {
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: var(--default-border-radius);
  box-shadow: var(--default-box-shadow);
}

#skills > .subcontainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#skills > .subcontainer i {
  font-size: 50px;
  padding-bottom: 20px;
  color: var(--color-primary-medium);
}

#skills > .subcontainer li {
  padding: 5px 0px;
}

#skills > .subcontainer ul li::before {
  content: '\2022';
  color: var(--color-primary-medium);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Portfolio */
.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.portfolio-grid img {
  width: 100%;
  border-radius: var(--default-border-radius);
}

.portfolio-more {
  display: flex;
  justify-content: flex-end;
}

.portfolio-more button {
  background-color: transparent;
  color: var(--color-primary-light);
  font-size: var(--text-small);
}

.portfolio-more button:hover {
  color: var(--color-primary-dark);
}

/* Testimonials */
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.testimonial > h6 {
  margin-bottom: 0px;
}

.testimonial > span {
  display: inline-block;
  font-size: var(--text-small);
  margin-bottom: 5px;
}

.testimonial > p {
  font-style: italic;
}

/* LinkedIn */
#linkedin .subcontainer {
  grid-column: 4 / -1;
  background-color: var(--color-primary-medium);
  border-radius: var(--default-border-radius) 0px 0px
    var(--default-border-radius);
  color: var(--font-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  box-shadow: var(--default-box-shadow);
}

#linkedin .subcontainer h4 {
  margin-bottom: 0;
}

/* Contact */
/* .contact-subcontainer form {
  width: 100%;
} */

/* Certifications */
#certifications {
  /* background-color: var(--color-primary-medium); */
  color: var(--font-light);
}

#certifications > .subcontainer {
  display: flex;
}

#certifications > .subcontainer img {
  width: 20%;
}

/* Footer */
#footer {
  background-color: var(--color-primary-medium);
  color: var(--font-light);
}

#footer .icon-links {
  text-align: center;
}

#footer a {
  color: var(--font-light);
}

#footer i {
  font-size: 50px;
  margin: 20px;
}

#footer a:hover {
  color: var(--color-primary-dark);
}

#footer p {
  font-size: 10px;
  text-align: center;
}

/* Utilities */
.primary-underline {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-medium);
}

/* Media Queries */
@media only screen and (max-width: 800px) {
  .subcontainer {
    grid-column: 1 / -1;
    margin-right: 60px;
    margin-left: 60px;
  }

  #linkedin > .subcontainer {
    border-radius: var(--default-border-radius);
  }
}

@media only screen and (max-width: 650px) {
  #introduction > img {
    margin-top: 75px;
  }

  #skills > .subcontainer {
    flex-direction: column;
  }

  #skills > .subcontainer > .frontend {
    margin-bottom: 20px;
  }

  .testimonial-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .portfolio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-width: 500px) {
  #introduction > img {
    margin-top: 50px;
  }

  .subcontainer {
    margin-right: 40px;
    margin-left: 40px;
  }

  #linkedin > .subcontainer {
    grid-column: 2 / -1;
  }
}
