@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

/* Font Families */
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

/* Color Variables */
:root {
  --color-primary-medium: #0b5de2;
  --color-primary-light: #4a9bf7;
  --color-primary-dark: #041e7c;
  --color-white: #fff;
  --font-dark: #131516;
  --font-light: #f2f3f4;
  --bottom-margin: 20px;
  --default-border-radius: 5px;
}

/* Global Styles and Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  background-color: var(--color-white);
}

section {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 20px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: var(--bottom-margin);
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 25px;
}

h6 {
  font-size: 22px;
}

button {
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
}

ul {
  list-style: none;
}

.outer-container {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(700px, 1366px) minmax(0px, 1fr);
}

.inner-container {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  box-shadow: 2px 4px 20px 5px rgba(8, 8, 8, 0.5);
}

/* Navigation */
.navigation {
  grid-column: 1 / -1;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav-items {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  padding: 3px 5px;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  color: inherit;
  text-decoration: none;
}

/* Introduction */
#introduction {
  grid-column: 2 / 8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 0px;
}

#introduction h1 {
  font-size: 45px;
  letter-spacing: 4px;
}

#introduction h4 {
  font-size: 25px;
}

#introduction img {
  width: 100%;
}

/* Meet */
#meet {
  background-color: var(--color-primary-medium);
  color: var(--font-light);
}

.meet-subcontainer {
  grid-column: 2 / 8;
}

#meet h2 {
  text-align: center;
}

/* Skills */
#skills {
  background: linear-gradient(
    180deg,
    var(--color-primary-medium) 50%,
    var(--color-white) 50%
  );
}

.skills-box {
  grid-column: 2 / 8;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border: 1px solid rgb(139, 139, 139);
  border-radius: var(--default-border-radius);
  box-shadow: 1px 2px 15px 2px rgba(8, 8, 8, 0.5);
}

.skills-box > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-box i {
  font-size: 50px;
  padding-bottom: 20px;
  color: var(--color-primary-medium);
}

.skills-box li {
  padding: 5px 0px;
}

.skills-box ul li::before {
  content: '\2022';
  color: var(--color-primary-medium);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* Portfolio */
.portfolio-subcontainer {
  grid-column: 2 / 8;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.portfolio-grid img {
  width: 100%;
  border-radius: var(--default-border-radius);
}

.portfolio-more {
  display: flex;
  justify-content: flex-end;
}

.portfolio-more button {
  background-color: transparent;
  color: var(--color-primary-light);
}

.portfolio-more button:hover {
  color: var(--color-primary-dark);
}

/* Testimonials */
.testimonials-subcontainer {
  grid-column: 2 / 8;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

/* Contact */
.contact-subcontainer {
  grid-column: 2 / 8;
}

.contact-subcontainer form {
  width: 100%;
}

/* Certifications */
#certifications {
  background-color: var(--color-primary-medium);
  color: var(--font-light);
}

.certifications-subcontainer {
  grid-column: 2 / 8;
  display: flex;
}

.certifications-subcontainer img {
  width: 20%;
}

/* Utilities */
.primary-underline {
  text-decoration: underline;
  text-decoration-color: var(--color-primary-medium);
}

input[type='text'],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: var(--default-border-radius);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #45a049;
}
